# Library requirements
django-jsonfield>=1.0.0
python-dateutil==2.6.0

# Build requirements
setuptools
wheel

# Docs requirements
sphinx
sphinx_rtd_theme

# Test requirements
coverage==4.3.4
tox>=1.7.0
codecov>=2.0.0
django-multiselectfield==0.1.8
psycopg2-binary
